<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./angular.js"></script>
    <script src="script.js"></script>
    <script src="filter.js"></script>
    <script src="StringService.js"></script>
    <link rel="stylesheet" href="style.css">

</head>
<body ng-app>
    <div ng-controller="myController">
    <table >
        <tr>
            <td>first Name  </td>
            <td>
                <input type="text" ng-model="message.firstName"/>
            </td>
        </tr>
        <tr>
            <td>Last Name  </td>
            <td>
                <input type="text" ng-model="message.lastName"/>
            </td>
        </tr>
        <tr>
            <td>Gender  </td>
            <td>
                <input type="text" ng-model="message.gender"/>
            </td>
        </tr>
    </table>
    <br>
    <table >
        <tr>
            <td>first Name  </td>
            <td>
                {{message.firstName}}
            </td>
        </tr>
        <tr>
            <td>Last Name  </td>
            <td>
                {{message.lastName}}
            </td>
        </tr>
        <tr>
            <td>Gender  </td>
            <td>
                {{message.gender}}
            </td>
        </tr>
    </table>
    <br>
    <table>
        <tr ng-repeat="youtube in youtube">
            <td >Nom : {{youtube.nom}}</td>
            <td>Abonnées : {{youtube.abo}}</td>
            <td>Likes: {{youtube.like}}</td>
            <td>  
                   <input type="button" value="abo" ng-click="incrementSub(youtube)">
                   <input type="button" value="like" ng-click="incrementLike(youtube)">
            </td>
        
            </tr>
    </table>
    <br>
    Rows to Display: <input type="number" step="1" min="0" max="5" ng-model="rowLimit" >
    <input type="text" ng-model="search.gender" placeholder="text to search">
    <input type="checkbox" ng-model="exactMatch"/>exactMatch
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Salary (number)</th>
                <th>Salary (currency)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employees in employees | limitTo : rowLimit | filter:search:exactMatch" >
                <td>{{employees.name | uppercase}}</td>
                <td>{{employees.dateOfBirth | date: "dd/MM/yyyy"}}</td>
                <td>{{employees.gender | gender}}</td>
                <td>{{employees.Salary | number :2}}</td>
                <td>{{employees.Salary | currency:"€":1}}</td>
            </tr>
        </tbody>
    
    </table>
    <br>
    
    <table>
        <thead>
            <tr>
                <th ng-click="sortData('name')">
                    name <div ng-class="getSortClass('name')"></div>
                </th>
                <th ng-click="sortData('dateOfBirth')">
                    Date of Birth <div ng-class="getSortClass('dateOfBirth')"></div>
                </th>
                <th ng-show="hide" ng-click="sortData('gender')">
                    Gender <div ng-class="getSortClass('gender')"></div>
                </th>
                <th ng-hide="hide" ng-click="sortData('Salary')">
                    Salary <div ng-class="getSortClass('Salary')"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employees in employees | orderBy:sortColumn:reverseSort">
                <td>{{employees.name | uppercase}}</td>
                <td>{{employees.dateOfBirth | date: "dd/MM/yyyy"}}</td>
                <td ng-show="hide">{{employees.gender | gender}}</td>
                <td ng-hide="hide">{{employees.Salary | number :2}}</td>
               
            </tr>
        </tbody>
        </table>

        <input type="checkbox" ng-model="hide"> HIDE Salary / SHOW gender <br>
        <select ng-model="employeeView" >
            <option value="web.html">Web Devloppement</option>
            <option value="web1.html">Web Devloppement</option>

        </select>
        <div ng-include="employeeView"></div>
        <br>
        <table>
            <tr>
                <td>Your string </td>
                <td><input type="text" ng-model="input"/></td>
            </tr>
            <tr>
                <td>Result </td>
                <td><input type="text" ng-model="output"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" ng-click="transformString(input)" value="Process String"/></td>
            </tr>
        </table>        
    
    
    
</div>
</body>
</html>
